#V_DateBtns {
    width: 84.3750vw;
    max-width: 1610px;
    height: 6.4815vh;
    max-height: 70px;

    background-color: #ECECEC;
    border: 1px solid #DADADA;

    margin-bottom: 1.3889vh;
    padding: 0 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#V_DateBtns button {
    width: 8.3333vw;
    max-width: 160px;
    height: 3.7037vh;
    max-height: 40px;

    font-size: 1.4815vh;
    font-weight: bold;

    background-color: #FAFAFA;
    border: 1px solid #DADADA;
    border-radius: 3px;
    box-shadow:  2px 3px 3px 0px rgba(0, 0, 0, 0.25);
}

#V_DateBtns button:hover {
    background-color: #DADADA;
    border: 1px solid #FAFAFA;
}

#V_DateBtns button:focus {
    outline: none;
}

#V_DateBtns input {
    width: 7.8125vw;
    max-width: 150px;
    height: 3.7037vh;
    max-height: 40px;

    font-size: 1.4815vh;
    font-weight: bold;

    background-color: #FAFAFA;
    border: 1px solid #DADADA;
    border-radius: 3px;
    box-shadow:  2px 3px 3px 0px rgba(0, 0, 0, 0.25);

    padding-left: 5px;
}

#V_DateBtns input:focus {
    outline: none;
}

#V_DateBtns p {
    font-weight: bold;
}

.V_Period {
    width: 8.3333vw;
    max-width: 160px;
    height: 3.7037vh;
    max-height: 40px;

    font-size: 1.4815vh;
    font-weight: bold;

    background-color: #FAFAFA;
    border: 1px solid #DADADA;
    border-radius: 3px;
    box-shadow:  2px 3px 3px 0px rgba(0, 0, 0, 0.25);
}

#V_Pictures {
    width: 84.3750vw;
    max-width: 1610px;
    height: 75.4630vh;
    max-height: 815px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    overflow: auto;

}

#V_Pictures::-webkit-scrollbar {
    width: 0.5208vw;

    background-color: #FFFFFF;
}

#V_Pictures::-webkit-scrollbar-thumb {
    background-color: #353540;
    border-radius: 0.4630vh;

    background-clip: padding-box;
    border: 0.0521vw solid transparent;
}

#V_Pictures .LoadImg {
    /* 400*225(16:9) */
    width: 20.5729vw;
    max-width: 395px;
    height: 11.5723vw;
    max-height: 222.188px;

    margin-bottom: 0.5208vh;
}

#Modal {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}