<header>
    <img onclick="Refresh()" src="../img/logo_txt.png"/>
    <div></div>
</header>
<div id="Body">
    <div id="Sidebar">
    </div>
    <div class="Box flex_row">
        <div id="PageName">
            <li>지역별 검수 현황</li>
        </div>
        <div id="ContentsWrapper">
            <div id="Contents">
                <div>
                    <div id="C_DateBtns">
                                <!-- <button id="btn_Today" onclick="TodayData(this)">오늘</button> -->         
                                <button id="btn_All" onclick="AllData(this)">전체</button>
                                <button onclick="YesterdayData(this)">어제</button>
                                <button onclick="TodayData(this)">오늘</button>
                                <button onclick="ThisWeekData(this)">주</button>
                                <button onclick="ThisMonthData(this)">월</button>
                                <div id="btn_Period" class="flex_mid V_Period">기간</div>
                                <input type="date" id="period_Start"/>
                                <p>~</p>
                                <input type="date" id="period_End"/>
                                <button onclick="DailyData()">확인</button>
                    </div>
                    <div id="C_ChartWrapper">
                        <canvas id="chart"></canvas>
                    </div>
                    <div id="Controller">
                        <div></div>
                        <div>
                            <img id="BtnLeft" name="angle_left" src="../img/icon/angle_left.png" onclick="PagingLeft()" onmouseover="iconhover(this)" onmouseout="iconout(this)" />
                            <span class="Blank" id="TxtCurrentPage"></span>
                            <span>/</span>
                            <span id="TxtTotalPage"></span>
                            <img id="BtnRight" class="Blank" name="angle_right" src="../img/icon/angle_right.png" onclick="PagingRight()" onmouseover="iconhover(this)" onmouseout="iconout(this)" />
                        </div>
                    </div>
                    <div id="C_Pictures">
                    </div>
                    <div id="C_Modal" class="flex_mid" style="display: none;">
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

<!-- JS -->
<script src="../js/Chart/C_ImgChart.js"></script>
